.footer {
  position: relative;
  width: 100vw;
  background-color: rgba(44, 54, 66, 1);
  color: #ededed;
  padding: 7.57381vw;
  /* top: 13.45783vw; */
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 100px) and (max-width: 480px) {
  .footer {
    padding: 13.45783vw;
  }
}
.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 72.5vw;
}
.footer .footer-content .social {
  width: 42%;
}
@media (min-width: 100px) and (max-width: 480px) {
  .footer .footer-content .social {
    width: 100%;
    margin-bottom: 7.57381vw;
  }
}
.footer .footer-content .social ul {
  *zoom: 1;
}
.footer .footer-content .social ul:after,
.footer .footer-content .social ul:before {
  content: "";
  display: table;
}
.footer .footer-content .social ul:after {
  clear: both;
}
.footer .footer-content .social ul li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.18052vw;
}
.footer .footer-content .social ul li:after,
.footer .footer-content .social ul li:before {
  content: "";
  display: table;
}
.footer .footer-content .social ul li:after {
  clear: both;
}
.footer .footer-content .footer-info {
  width: 55%;
}
@media (min-width: 100px) and (max-width: 480px) {
  .footer .footer-content .footer-info {
    width: 100%;
  }
}
@media (min-width: 100px) and (max-width: 480px) {
  .footer .footer-content .footer-info ul {
    margin-top: 13.45783vw;
  }
}
@media (min-width: 100px) and (max-width: 480px) {
  .footer .footer-content .footer-info ul .email {
    font-size: 5.68178vw;
    line-height: 10.09589vw;
  }
}

.text_center {
  text-align: center;
}
.instagram-wrapper ul li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 29.66667%;
  margin-left: 0;
  margin-right: 5.5%;
  margin-bottom: 3.1976vw;
}
.instagram-wrapper ul li:after,
.instagram-wrapper ul li:before {
  content: "";
  display: table;
}
.instagram-wrapper ul li:after {
  clear: both;
}
.instagram-wrapper ul li:nth-child(3n) {
  margin-right: 0;
  float: right;
}
.instagram-wrapper ul li:nth-child(3n + 1) {
  clear: both;
}
@media (min-width: 100px) and (max-width: 480px) {
  .instagram-wrapper ul li {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13.45783vw;
  }
  .instagram-wrapper ul li:first-child {
    margin-left: auto;
  }
  .instagram-wrapper ul li:last-child {
    margin-right: auto;
  }
}
